__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
*.egg-info/
.venv
venv/
ENV/
env/
.vscode
*.db
*.log
.mypy_cache/
.dmypy.json
dmypy.json
sql_integration_query_tests/
!sql_integration_query_tests/
sql_integration_query_tests/*
!sql_integration_query_tests/current-query.sql
!sql_integration_query_tests/current-query-optimized.sql
parameters-owm.txt
parameters.txt
retune_template_sensors.yaml
.deploy-tmp/
